<style>

/*tag selector*/
body {
    background-color: aquamarine;
}

h1 {
    font: size 100px;
}

/*id selector*/
#test {
    color: blue;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

/*class selector*/
.container {
    padding: 50px;
    margin: 100px;
    background-color: darkorange;
}

</style>